body {
    background-image: url("background-image-by-lukas.jpg");
    background-size: auto 100vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color: #d8d8d8;
    font-family: Helvetica, sans-serif;
    color: darkslategray;
}

header {
    margin-top: 20%;
    text-align: center;
}

ul {
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

li {
    list-style-type: none;
    background-color: none;
}

button {
    border: none;
    background: none;
    color: black;
    padding: 15px;
}

button:hover {
    color: white;
    background-color: silver;
    border-radius: 10px;
}

div {
    width: 800px;
    margin: 1in auto;
    line-height: 1.5;
}

table {
    margin: 40px auto;
}

td {
    padding: 10px;
    text-align: center;
}

section {
    margin: auto;
    padding: 25px;
    background-color: #cccccc;
    border-radius: 10px;
    color: darkslategray;
    /* transition: padding .5s; */
}

/* section:visited {
    padding: 100px 0 0;
} */

hr {
    width: 80%;
}

footer {
    margin: .8in 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    padding: 15px;
}

a:hover {
    color: white;
    background-color: silver;
    border-radius: 10px;
}

abbr {
    text-decoration: none;
}

.constructionNotice {
    text-align: center;
    margin-top: 30vh;
}

.icon {
    width: 300px;
}

.acadYear{
    width: 1in;
}

.expandable:hover {
    color: gray;
    border-radius: 10px;
}

#constructionNotice{
    display: none;
}

#education {
    display: none;
}
#tertiaryDetails {
    display: none;
}
#seniorHighDetails{
    display: none;
}
#juniorHighDetails{
    display: none;
}
#elementaryDetails{
    display: none;
}

@media (min-aspect-ratio: 4928/3249) {
    body {
        background-size: 100vw auto;
    }
}
@media (max-width: 1200px) {
    main{
        margin: 1in 10%;
    }
    div {
        display: contents;
    }

}

@media (max-width: 500px) {
    ul {
        display: list-item;
    }
    .socialMediaLinks {
        padding: 15px;
    }
    td {
        padding: 0;
    }
}
